---
import { Image } from "astro:assets";
import ArrowIcon from "@icons/ArrowIcon.astro";

const { title, slug, description, price, cover, class: className, ...props } = Astro.props;
---

<script>
	import { $ } from "@wmdigi/dom";
	import { cart } from "@lib/store";
	import type { Product } from "@src/types/cart";
	import { products } from "@lib/data";

	$(".card").array.forEach((card: HTMLElement) => {
		$(card).on("click", () => {
			const product = products.find((p: Product) => p.slug === card.dataset.slug);

			if (!product) return;
			
			cart.set({ ...cart.get(), products: [...cart.get().products, product] });
			console.log(cart.get());
		});
	})
</script>

<button
	class:list={[
		"card group w-full cursor-pointer select-none aspect-[33.5/39] sm:aspect-[43/50] flex flex-col items-start justify-between dark:bg-black/10 dark:backdrop-blur red:bg-black/10 red:backdrop-blur border rounded overflow-hidden border-black/20 dark:border-white/20 red:border-white/20",
		className,
	]}
	{...props}
	data-slug={slug}
>
	<div
		class="h-1/2 w-full relative transition-[height] duration-300 ease-easeOutCubic overflow-hidden"
	>
		<Image
			src={cover}
			alt={cover?.title || "cover image for resource"}
			width={cover?.width || 420}
			height={cover?.height || 420}
			widths={[420, 720, cover?.width]}
			sizes={`(max-width: 400px) 420w, (max-width: 768px) 720w, ${cover?.width}w`}
			quality={100}
			loading="lazy"
			class="absolute inset-0 w-full h-full object-cover pointer-events-none"
		/>
	</div>

	<div
		class="flex flex-1 flex-col h-auto items-start p-[clamp(1.375rem,1.7vw,2rem)] w-full justify-between transition-default group-hover:bg-white"
	>
		<div class="flex flex-col items-start justify-start gap-[clamp(0.25rem,0.5vw,1.5rem)] w-full will-change-transform">
			<h6
				class="group-hover:text-black text-black dark:text-white transition-default line-clamp-4 md:line-clamp-2 text-ellipsis overflow-hidden"
			>
				{title}
			</h6>
			<p class="group-hover:text-black text-black dark:text-white transition-default text-left line-clamp-2 text-ellipsis overflow-hidden">{description}</p>
		</div>
		<div class="w-full flex flex-row items-end justify-between gap-[clamp(1rem,1vw,1.5rem)]">
			<div
				class:list={[
					"relative flex flex-row items-center overflow-hidden cursor-pointer select-none group-hover:text-black text-black dark:text-white transition-default",
					className,
				]}
				{...props}
			>
				<ArrowIcon class="absolute left-0 top-1/2 -translate-y-1/2 -translate-x-full h-[clamp(0.625rem,0.775vw,0.875rem)] group-hover:translate-x-0 transition-transform duration-300 ease-easeOutCubic" />
				<div class="flex flex-row items-center gap-5 text-[clamp(0.875rem,1.05vw,1.25rem)] group-hover:translate-x-[2.125rem] transition-transform duration-300 ease-easeOutCubic will-change-transform">
					Add to cart
					<ArrowIcon class="h-[clamp(0.625rem,0.775vw,0.875rem)]" />
				</div>
			</div>
			<p
				class="!text-[clamp(1rem,1.2vw,1.5rem)]/[120%] group-hover:text-black text-black dark:text-white font-light uppercase red:text-white transition-default"
			>
				{price}
			</p>
		</div>
	</div>
</button>